//@use 'helpers' as *;
//@use "@/assets/scss/helpers/index" as *;
@use "globals";
@use "components/burger-button";
@use "components/header";
@use "components/footer";
@use "components/breadcrumbs";
@use "components/hero";
@use "components/section";
@use "components/grid";
@use "components/news-card";
@use "components/soundtrack";
@use "components/player";
@use "components/loader";

.app-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}