//@use 'helpers' as *;
//@use "@/assets/scss/helpers/index" as *;
@use "globals";
@use "components/header";
@use "components/burger-button";
//@import "components/header";
//@import "components/button";
//@import "components/burger-button";
//@import "components/icon";

//@use 'globals.scss';

/* assets/scss/main.scss */
//@use './globals';
//@use './fonts';
//@use './components/header';
//@use './components/footer';
/* и т.д. */


.logo {
  font-family: 'Riverstyle', sans-serif;
  font-size: 40px;
  font-weight: 400;
  color: var(--color-red);
}