@use "@/assets/scss/helpers/index" as *;

.album {

  @include tablet {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 8vw;
    margin-bottom: 40px;
  }
  @include mobile {
    width: unset;
  }

  @media (width <= 567px) {
    flex-direction: column;
    align-items: start;
  }

  .player__note {
    height: unset;
    color: var(--color-black);
    font-family: inherit;
    font-weight: 600;

    & + .album__streamings {
      margin-top: 8px;
    }
  }
}
.album__image-wrapper {
  position: relative;
  z-index: 0;

  &:after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 28px;
    left: 28px;
    border: 5px solid var(--color-brown);
    @include square(342px);
    z-index: -1;

    @include tablet {
      width: 100%;
      height: 100%;
      top: 14px;
      left: 14px;
    }
  }
}


.album__image-wrapper + .album__info-wrapper {
  margin-top: 56px;
  @include tablet {
    margin-top: 0;
    flex-basis: 100%;
  }
  @include mobile-s {
    margin-top: 4px;
  }
}

.album__info {
  margin-block: 4px;
  &-item {
    font-size: 16px;
    line-height: 30px;
    > span {
      opacity: .7;
    }
  }
}
.album__streamings {
  display: flex;
  margin-top: 18px;
  //gap: fluid(20, 14);
  gap: fluid(20, 12);
  flex-wrap: wrap;

  @include mobile-s {
    justify-content: center;
  }
}


.album-widget {
  width: 465px;
  height: 100%;

  @include tablet {
    width: 100%;
  }
}