@use "@/assets/scss/helpers/index" as *;
.grid-2 {
  display: grid;
  grid-template-columns: 7fr 5fr;
  gap: 36px;

  @include mobile-s {
    gap: 18px;
  }
  &--mirrow {
    grid-template-columns: 1fr 1fr;
  }
  &--to-1 {
    @include tablet {
      grid-template-columns: 1fr;
    }

    @include mobile-s {
      gap: 18px;
    }
  }

  &--hide-2d  {
    @include tablet {
      grid-template-columns: 1fr;
    }

    .section__col:last-child {
      @include tablet {
        display: none;
      }

    }
  }
}

.section--about .grid-2--to-1 {
  @media (height <= 450px) and (orientation: landscape) {
    grid-template-columns: 1fr;
  }
}