@use "@/assets/scss/helpers/index" as *;

//.player-controls{margin-bottom:.6rem;display:flex;flex-wrap:wrap;gap:.5rem}
//.btn{padding:.35rem .6rem;border:1px solid #cfcfcf;border-radius:8px;background:#fff;cursor:pointer}
.btn.ok:hover{border-color:#333;cursor:pointer}
//.btn{display: inline-block}
.btn.off{
  display: none;
  opacity:.5;cursor:not-allowed!important;
  > * {
    pointer-events: none;
  }
}
.btn.active{
  //border-color:#333;

  .button--image {
    filter: none;
  }
}
.btn.err{border-color:#d22; color:#d22}
.no-sources{
  opacity:.7;
  width: 100%;
  @include flex-center;
  height:100%;
  text-align: center;
  background-color: lightgrey;
}


.player {
  display: flex;
  justify-content: space-between;
  height:100%;
  //width: 100%;

  @include mobile-s {
    flex-direction: column;
  }

  &__controls {
    flex: 1;
    order: 1;
    //@include flex-center;
    margin-left: 38px;
    display: flex;
    align-items: center;

    gap: 3.2vw;
    //gap: 48px;

    @include tablet {
      flex-direction: column;
      align-items: start;
      gap: 6%;
      justify-content: center;
    }

    @include mobile-s {
      order: 0;
      flex-direction: row;
      //align-items: start;
      justify-content: center;
      margin-left: 0;
      gap: 6vw;
      margin-bottom: 12px;
    }

    .btn {
      @include square(48px);
    }
  }

  &__widget {
    width: 614px;
    position: relative;


    @include mobile-s {
      width: 100%;
    }
    //flex-grow: 1;
    //background-color: yellowgreen;
    //background-color: var(--color-white-true);
  }
}