@use "@/assets/scss/helpers/index" as *;


.btn.ok:hover{border-color:#333;cursor:pointer}
.btn.off{
  display: none;
  opacity:.5;cursor:not-allowed!important;
  > * {
    pointer-events: none;
  }
}
.btn.active{
  .button--image {
    filter: none;
  }
}
.btn.err{border-color:#d22; color:#d22}

.no-sources{
  opacity:.7;
  width: 100%;
  @include flex-center;
  height:100%;
  text-align: center;
  //background-color: lightgrey;
  background-color: rgb(241, 231, 239);
}


.player {
  display: flex;
  justify-content: space-between;
  height:100%;

  @include mobile-s {
    flex-direction: column;
  }

  &__controls {
    flex: 1;
    order: 1;
    margin-left: 38px;
    display: flex;
    align-items: center;

    gap: 3.2vw;
    //gap: 48px;

    @include tablet {
      flex-direction: column;
      align-items: start;
      gap: 6%;
      justify-content: center;
    }

    @include mobile-s {
      order: 0;
      flex-direction: row;
      justify-content: center;
      margin-left: 0;
      gap: 6vw;
      margin-bottom: 12px;
    }

    .btn {
      @include square(48px);
    }
  }

  &__widget {
    width: 614px;
    position: relative;


    @include mobile-s {
      width: 100%;
      height: 100%;
    }
  }
}

.vk-widget {
  display: flex;
  align-items: center;
  background-color: var(--color-white-true);
  box-shadow: 0 0 1px 1px inset rgba(0, 0, 0, 0.15);
}


.player-facade {
  opacity: .75;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  cursor: pointer;
}
.facade-overlay {
  position: absolute; inset: 0;
  gap: .5rem;
  color: #fff; font-weight: 600;
  background: linear-gradient(to top, rgba(0,0,0,.45), rgba(0,0,0,.2));
  text-shadow: 0 1px 2px rgba(0,0,0,.6);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  padding: 32px;
 }
.play-icon { font-size: 2rem; line-height: 1; }
.facade-text--small {
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}

.player__note {
  font-family: var(--font-family-title);
  font-size: 16px;
  color: var(--color-red);
  height: 40px;
  display: flex;
  align-items: center;
}
.player--mode-music {
  flex-direction: column;
  .player__widget {
    width: 100%;
    height: 100%;
  }
  .player__controls {
    order: 0;            //!!!!!
    margin-bottom: 16px; //!!!!!
    margin-left: 0;
    gap: fluid(20, 14);
    justify-content: end;

    @include tablet-above {
      margin-top: -56px;
    }

    @include tablet {
      order: 0;
      flex-direction: row;
    }
    @include mobile-s {
      padding-inline: 32px;
      gap: 16px;
    }
    .btn {
      @include square(40px);
    }
  }
  .player-facade {
    max-height: 556px;
  }

  .vk-widget {
    align-items: start;
    background-color: transparent;
    box-shadow: none;
  }

  .embed-loader {
    justify-content: start;
      .loader {
        margin-top: 100px;
      }
  }
}

.player--mode-soundtracks {
  @include tablet {
    flex-direction: column;
  }

  .player__controls {
    flex-direction: column;
    gap: 16px;
    align-items: start;
    justify-content: center;


    @include tablet {
      order: 0;
      margin-left: 0;
      margin-bottom: 12px;
      align-items: center;
      justify-content: end;
      flex-direction: row;
    }

    @include mobile-s {
      padding-inline: 16px;
    }
  }

  .player__widget {
    @include tablet {
      width: 100%;
    }
  }

}

.player__nav {
  display: flex;
  align-items: center;
  gap: 32px;
  margin-bottom: 56px;
  @include tablet {
    margin-bottom: 0;
  }
  @include mobile-s {
    gap: 16px;
  }
}


.custom-track {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    margin-bottom: 8px;
  }

  .player__note {
    margin-bottom: 12px;
  }
}