@use "@/assets/scss/helpers/index" as *;

.section {
  overflow: hidden;
  //min-height: 981px;

  &__inner {}

  &__col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  &__title {
    margin-bottom: 28px;
    &--brown-light {
      color: var(--color-brown-light-alt)!important;
    }
    &--white {
      color: var(--color-white-true)!important;
    }
  }
  &__text {
    @include fluid-text(24, 16);
    margin-bottom: 52px;
  }
  &__button-container {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    margin-bottom: 32px;
  }
  &__button {}

  &--dark {
    background-color: var(--color-black);
    .section__title {
      color: var(--color-brown-light-alt);
    }

    .section__text {
      color: var(--color-white);
    }
  }

  &--red {
    background-color: var(--color-red);
    .section__title {
      color: var(--color-white-true);
    }

    .section__text {
      color: var(--color-white);
    }
  }
}

.section--1 {
  padding-top: 50px;
  padding-bottom: 20px;

  .section__col:last-child {
    //@include tablet {
    @media (height <= 450px) and (orientation: landscape) {
      display: none;
    }
    @media (height > 450px) and (orientation: portrait) {
      display: none;
    }
  }
}
.section--1__image-wrapper {
  position: relative;
  z-index: 0;
  //overflow: hidden;

  .section__image {
    @include mobile-s {
      max-width: 120%;
    }
  }

  &:before {
    content: '';
    width: 100%;
    height: 100%;
    background: url("/public/images/shadow_1.png") 50%/cover no-repeat;
    @include abs-center;
    z-index: -1;

    //animation: move-x 1s linear;
    animation: move-x .2s linear;
    animation-timeline: scroll(root block);
  }
}
@keyframes move-x {
  //from { transform: translateX(-50px); }
  //to { transform: translateX(250px); }

  //from { transform: translateX(-50px); }
  //to { transform: translateX(20px); }

  from { transform: translateX(-5vh); }
  to { transform: translateX(15vh); }
}
@keyframes move-y {
  //from { transform: translateX(50px); }
  //to { transform: translateX(-50px); }
  //from { transform: translateY(-10px); }
  //to { transform: translateY(80px); }

  //from { transform: translateY(-80px); }
  //to { transform: translateY(120px); }

  //норм
  //from { transform: translateY(-7.4vh); }
  //to { transform: translateY(14.11vh); }

  from { transform: translateY(-11.4vh); }
  to { transform: translateY(9.11vh); }
}

.section--2 {
  //padding: 205px 0;
  padding-block: fluid(205, 40); // от 24 к 16 (на мобиле)
}
.section--2__image-wrapper {
  position: relative;
  z-index: 0;
  //overflow: hidden;
  &:before {
    content: '';
    //width: 100%;
    width: 130%;
    height: 100%;
    background: url("/public/images/shadow_2.png") bottom/100% no-repeat;
    //background: url("/public/images/shadow_2.png") no-repeat;
    //background-size: 100%;
    //background-position-x: 100%;
    //background-position-y: bottom;

    @include abs-center;
    //translate: -50% -44%;
    translate: -50% -40%;
    z-index: -1;

    animation: move-y .2s linear;
    animation-timeline: scroll(root block);
  }
}

.section--3 {
  padding: 213px 0;
}
.section--3__image-wrapper {
  position: relative;
  z-index: 0;
  border-radius: 100%;
  overflow: hidden;
  @include square(22vw);
  align-self: center;

  .section__image {
    scale: 1.5;
    //transform: translateX(50px);
  }

  &:before {
    content: '';
    width: 100%;
    //width: 130%;
    height: 100%;
    background: url("/public/images/shadow_2.png") bottom/100% no-repeat;

    @include abs-center;
    //translate: -50% -40%;
    z-index: -1;

    animation: move-y .2s linear;
    animation-timeline: scroll(root block);
  }
}

.section:not(.section--news) {
//display: none;
}

.section--news {
  //padding: 80px 0;
  //background-color: var(--color-red);
  .section__wrapper {
    background-color: var(--color-red);
    padding: 80px 0;
    max-width: 1430px;
    width: 100%;
    margin: auto;
    //margin-inline: -145px;

  }

  .section__inner {
    @include flex-center;
    flex-direction: column;
  }
}