@use "@/assets/scss/helpers/index" as *;

.section {
  //overflow: hidden;
  //min-height: 981px;

  &__inner {

    &--center {
      text-align: center;
      //justify-content: center;
    }
  }

  &__col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    &:last-child {
      align-items: center;
    }

    @include mobile-s {
      align-items: center;
    }
  }
  &__title {
    margin-bottom: 28px;
    &--brown-light {
      color: var(--color-brown-light-alt)!important;
    }
    &--white {
      color: var(--color-white-true)!important;
    }

    &--inner {
      line-height: 1.4;
      margin-bottom: 40px;
    }

    @include tablet {
      br {display: none}
    }
  }
  &__text {
    //@include fluid-text(24, 16);
    @include fluid-text(24, 18);
    line-height: fluid(40, 28);
    //line-height: 1.6;
    //margin-bottom: 52px;
    margin-bottom: fluid(52, 28);

    @include mobile-s {
      //text-align: center;
    }

    &--inner {
      @include fluid-text(20, 18);
      line-height: fluid(32, 28);
      margin-bottom: 0;
    }

    &--underlined {
      &:after {
        content: '';
        display: block;
        width: 100px;
        height: 6px;
        background-color: var(--color-red);
        margin-top: 30px;
      }
    }

    &--annotate {
      font-family: var(--font-family-quote);
      //@include flex-center;
      //flex-direction: column;
      max-width: 750px;
      margin-inline: auto;

      //margin-bottom: 16px;
      &:not(:last-child) {
        margin-bottom: var(--paragraphMarginBottom);
      }
      &:last-child {
        &:after {
          content: '';
          display: block;
          @include square(50px);
          margin-top: 32px;
          margin-inline: auto;
          background: url("@/assets/icons/quote.svg") 50%/cover no-repeat;

        }
      }

      > span {
        opacity: .7;
      }

    }
    &--blockquote {
      font-family: var(--font-family-quote);
      @include flex-center;
      flex-direction: column;
      max-width: 750px;
      margin: auto;

      > span {
        opacity: .7;
      }

      &:after {
        content: '';
        display: block;
        @include square(50px);
        margin-top: 32px;
        background: url("@/assets/icons/quote.svg") 50%/cover no-repeat;

      }
    }
    &--author {
      margin-bottom: 0;
      > span {
        opacity: .6;
      }
    }
  }
  &__button-container {
    display: flex;
    flex-wrap: wrap;
    //gap: 32px;
    //margin-bottom: 32px;

    gap: fluid(32, 24);
    margin-bottom: fluid(32, 24);

    @include mobile-s {
      justify-content: center;
    }
  }
  &__button {}

  &--dark {
    background-color: var(--color-black);
    .section__title {
      color: var(--color-brown-light-alt);
    }

    .section__text {
      color: var(--color-white);
    }
  }

  &--red {
    background-color: var(--color-red);
    .section__title {
      color: var(--color-white-true);
    }

    .section__text {
      color: var(--color-white);
    }
  }

  &--rose {
    background-color: rgba(140, 37, 38, 0.1);
    .section__title {
      //color: var(--color-black);
    }

    .section__text {
      //color: rgba(24, 28, 35, 0.7);
      color: var(--color-black);
    }
  }

}

/** main page **/
.section--about {
  padding-top: 50px;
  padding-bottom: 20px;

  //.section__col:last-child {
    //@include tablet {
    //@media (height <= 450px) and (orientation: landscape) {
    //  display: none;
    //}
    //@media (height > 450px) and (orientation: portrait) {
    //  display: none;
    //}
  //}
}
.section--about__image-wrapper {
  position: relative;
  z-index: 0;
  //overflow: hidden;

  .section__image {
    @include mobile-s {
      max-width: 120%;
    }
  }

  &:before {
    content: '';
    width: 100%;
    height: 100%;
    background: url("/public/images/shadow_1.png") 50%/cover no-repeat;
    @include abs-center;
    z-index: -1;

    //animation: move-x 1s linear;
    animation: move-x .2s linear;
    animation-timeline: scroll(root block);
  }
}
@keyframes move-x {
  //from { transform: translateX(-50px); }
  //to { transform: translateX(250px); }

  //from { transform: translateX(-50px); }
  //to { transform: translateX(20px); }

  from { transform: translateX(-5vh); }
  to { transform: translateX(15vh); }
}
@keyframes move-y {
  //from { transform: translateX(50px); }
  //to { transform: translateX(-50px); }
  //from { transform: translateY(-10px); }
  //to { transform: translateY(80px); }

  //from { transform: translateY(-80px); }
  //to { transform: translateY(120px); }

  //норм
  //from { transform: translateY(-7.4vh); }
  //to { transform: translateY(14.11vh); }

  from { transform: translateY(-11.4vh); }
  to { transform: translateY(9.11vh); }
}

.section--book {
  //padding: 205px 0;
  padding-block: fluid(205, 40); // от 24 к 16 (на мобиле)

  @include laptop {
    padding-block: fluid(100, 40);
  }
}
.section--book__image-wrapper {
  position: relative;
  z-index: 0;
  //overflow: hidden;
  &:before {
    content: '';
    //width: 100%;
    width: 130%;
    height: 100%;
    background: url("/public/images/shadow_2.png") bottom/100% no-repeat;
    //background: url("/public/images/shadow_2.png") no-repeat;
    //background-size: 100%;
    //background-position-x: 100%;
    //background-position-y: bottom;

    @include abs-center;
    //translate: -50% -44%;
    translate: -50% -40%;
    z-index: -1;

    animation: move-y .2s linear;
    animation-timeline: scroll(root block);
  }
}

.section--music {
  //padding: 213px 0;
  padding: 213px 0 80px;
  @include laptop {
    padding-block: fluid(80, 40);
  }

  .section__col:last-child {
    @media (width <= 383px) {
      //margin-inline: var(--cotainer-padding-x);
      margin-inline: -32px;
    }
  }

  .section__widget {
    position: relative;
    width: 465px;

    @include mobile {
      width: 100%;
    }

    //@media (width <= 383px) {
    //  //margin-inline: var(--cotainer-padding-x);
    //  margin-inline: -32px;
    //}
  }
  .section__iframe {
    @include mobile {
      width: 100%!important;
    }
  }
  //.section__iframe-cover {
  //  position: absolute;
  //  right: 15px;
  //  top: 45px;
  //
  //  z-index: 0;
  //  display: none;
  //
  //
  //  @include mobile {
  //   display: block;
  //  }
  //
  //  > img {
  //    border-radius: 6px;
  //  }
  //
  //  &:before {
  //    content: '';
  //    width: 100%;
  //    height: 100%;
  //    filter: blur(10px);
  //    background: url(https://avatars.yandex.net/get-music-content/14651289/2f8cef7b.a.37825294-1/400x400);
  //    background-size: cover;
  //    border-radius: 6px;
  //
  //    z-index: -1;
  //    display: block;
  //    position: absolute;
  //    top: 50%;
  //    left: 50%;
  //    transform: translate(-50%, -50%);
  //  }
  //}
}
.section--music__image-wrapper {
  position: relative;
  z-index: 0;
  border-radius: 100%;
  overflow: hidden;
  @include square(22vw);
  align-self: center;

  .section__image {
    scale: 1.5;
    //transform: translateX(50px);
  }

  &:before {
    content: '';
    width: 100%;
    //width: 130%;
    height: 100%;
    background: url("/public/images/shadow_2.png") bottom/100% no-repeat;

    @include abs-center;
    //translate: -50% -40%;
    z-index: -1;

    animation: move-y .2s linear;
    animation-timeline: scroll(root block);
  }
}

.section:not(.section--news) {
//display: none;
}

.section--news {
  //padding: 80px 0;
  //background-color: var(--color-red);
  .section__wrapper {
    background-color: var(--color-red);
    padding: 80px 0;
    max-width: 1430px;
    width: 100%;
    margin: auto;
    //margin-inline: -145px;

  }

  .section__inner {
    @include flex-center;
    flex-direction: column;
  }
}

/** inner pages **/

.section--about-book {
  //padding-block: fluid(80, 40);
  padding-block: fluid(60, 40);

  //.section__text {
  //  @include fluid-text(20, 18);
  //  //font-size: fluid(20, 18);
  //  line-height: fluid(38, 28);
  //}
  .section__text--inner {
    &:not(:last-child) {
      margin-bottom: var(--paragraphMarginBottom);
    }
  }

  .section--about-book__image-wrapper {
    min-height: 476px;
  }
}
.section--review {
  padding-block: fluid(70, 40);
}
.section--music-book {
  padding-block: fluid(100, 40);
  .section__title.h5 {
    margin-bottom: 12px;
    font-size: 20px;

    @include mobile-s {
      text-align: center;
      margin-bottom: 24px;
    }
  }

  .buy-book {
    //padding-top: 62px;
    padding-top: 100px;
    scroll-margin-top: var(--header-h, 40px);
  }
  //.section__button.button--image {
  //  //gap: fluid(32, 24);
  //  //margin-right: fluid(32, 24);
  //
  //  &:not(last-child) {
  //    margin-right: fluid(32, 24);
  //  }
  //}
}


.section--soundtracks {
  padding-block: fluid(60, 40);

  .section__text {
    @include fluid-text(20, 18);
    line-height: fluid(38, 28);
    margin-bottom: 20px;
    //margin-bottom: fluid(60, 40);
  }
}

.section--music-page {
  padding-block: fluid(80, 60);

  .section__text {
    max-width: 880px;
    margin-bottom: 0;
  }
}

.section--album {
  position: relative;
  //padding-bottom: 80px;
  margin-bottom: 80px;
  display: flex;
  justify-content: center;

  &:not(:last-child) {
    &:after {
      content: '';
      display: inline-block;
      position: absolute;
      bottom: 0;
      margin: auto;
      background-color: var(--color-brown);
      width: 234px;
      height: 6px;
    }
  }

  &:not(.section--album-min) {
    padding-bottom: 80px;
    //margin-bottom: 80px;
    .section__col:last-child {
      justify-content: start;
      //@media (width <= 383px) {
      @include mobile-s {
        margin-inline: -32px;
      }
    }
  }

  @include mobile-s {
    margin-bottom: 40px;
  }
}

.section--album-min {
  //margin-bottom: 40px;
  .section__col {
    justify-content: start;

    @include tablet {
      align-items: center;
    }

  }
}


///
//.section--soundtracks
.section--universal {
  padding-block: fluid(60, 40);

  .section__text {
    @include fluid-text(20, 18);
    line-height: fluid(38, 28);
    margin-bottom: 20px;
    //margin-bottom: fluid(60, 40);
  }

  .section__text.section__text--inner {
    &:not(:last-child) {
      margin-bottom: var(--paragraphMarginBottom);
    }
  }
}