@use "@/assets/scss/helpers/index" as *;

.soundtrack {
  //margin-bottom: 40px;
  //padding-top: 40px;
  padding-top: 80px;


  /* Целевые секции/элементы с id */
  scroll-margin-top: var(--header-h, 40px);
  //scroll-margin-top: var(--header-h, 60px);


  &__description {
    font-size: 16px;
  }

  &__widget {
    height: 244px;
    //height: 282px;
    //height: 350px;
    overflow: hidden;
    //background-color: pink;

    @include tablet {
      //height: 344px;
      height: 300px;
    }
    @include mobile-s {
      //height: 300px;
      height: 344px;
      margin-inline: -32px;
    }
  }
}

.soundtrack__media {
  margin-top: 24px;
  //display: flex;
  //align-items: center;
  //justify-content: space-between;
  //gap: 34px;


}
.soundtrack__item {
  margin-bottom: 32px;
  //border-bottom: 2px solid var(--color-brown);

  .album {
    width: 100%;
    display: flex;
    align-items: center;
    //gap: 36px;
    gap: 8vw;
  }
  .album__image-wrapper + .album__info-wrapper {
    margin-top: 0;
  }
  .album__image-wrapper {
    //max-width: 50%;
    width: 20vw;
    &:after {
      width: 100%;
      height: 100%;
      top: 14px;
      left: 14px;
    }

    @include mobile-s {
      width: 50vw;
    }
  }
}

.soundtrack__list {
  display: flex;
  gap: 48px;

  &-item {
    width: 48px;
    height: 48px;

    @include flex-center;
  }
}

.soundtrack__streamings {
  display: flex;
  margin-top: 18px;
  //gap: 16px;
  gap: fluid(20, 14);
  flex-wrap: wrap;
}

.soundtrack.is-current {
  //outline: 2px solid rgba(0,0,0,0.06);
  //background: rgba(255,255,255,1);
  /* или твои стили активации */
}
