@use "@/assets/scss/helpers/index" as *;

.soundtrack {
  padding-top: 80px;

  /* Целевые секции/элементы с id */
  scroll-margin-top: var(--header-h, 40px);

  &__description {
    font-size: 16px;
  }

  &__widget {
    height: 244px;
    overflow: hidden;

    @include tablet {
      height: 300px;
    }
    @include mobile-s {
      height: 344px;
      margin-inline: -32px;
    }
  }
}

.soundtrack__media {
  margin-top: 24px;
}
//@keyframes fadeIn {
//  to {
//    opacity: 1;
//    visibility: visible;
//  }
//}
.soundtrack__item {
  margin-bottom: 32px;
  //opacity: 0;
  //visibility: hidden;
  //animation: fadeIn var(--transition-duration) 1;
  //animation-fill-mode: both;

  .album {
    width: 100%;
    display: flex;
    align-items: center;
    //gap: 36px;
    gap: 8vw;
  }
  .album__image-wrapper + .album__info-wrapper {
    margin-top: 0;
  }
  .album__image-wrapper {
    &:after {
      width: 100%;
      height: 100%;
      top: 14px;
      left: 14px;
    }

    @include laptop {
      width: 206px;
    }

    @include mobile-s {
      //width: 50vw;
      height: 206px;
    }
  }
}

.soundtrack__list {
  display: flex;
  gap: 48px;

  &-item {
    width: 48px;
    height: 48px;

    @include flex-center;
  }
}

.soundtrack__streamings {
  display: flex;
  margin-top: 18px;
  gap: fluid(20, 14);
  flex-wrap: wrap;
}


///* css (пример) */
//.desktop .soundtrack__item--mobile { display: none; }
//.desktop .soundtrack__widget--desktop { display: block; }
//
///* медиазапросы */
////@media (max-width: 768px) {
//  .mobile .soundtrack__item--mobile { display: block; }
//  .mobile .soundtrack__widget--desktop { display: none; }
////}
